@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 dark:text-gray-100 antialiased bg-white dark:bg-gray-900 transition-colors duration-200;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-all duration-200;
  }

  .btn-primary {
    @apply bg-primary-light dark:bg-primary-dark text-white hover:bg-blue-700 dark:hover:bg-blue-300;
  }
  .active-icon {
    color: #4CAF50; /* Green */
    transform: scale(1.5);
  }
  


}